{% extends "layout.html" %}
{% block content %}
<script type="text/javascript">
$(document).ready(function () {

  $('#loading').hide();

  $.getJSON('/Scenarios', function (result) {
    var optionsValues = '<select id="routes">';
    $.each(result, function (item) {
      optionsValues += '<option value="' + result[item].value + '">' +
			result[item].name + '</option>';
    });

    optionsValues += '</select>';
    $('#routes').replaceWith(optionsValues);
  });

  $('#speed1, #speed2, #speed4').change(function () {
    if ($(this).is(':checked')) {
      var speed = $(this).val();
      changeSpeed(speed);
    }
  });

  $('#selectRoute').click(function (event) {
    $('#routeChooser').fadeOut(500);
    $('#loading').fadeIn(500);
    var route = $('#routes').val();
    var realistic = $('#realistic').val();
    addStartingEndingStates(route);
    getInstructions(route, realistic);
  });

  $('#opacity').on('change', function () {
    $('#opVal').text($('#opacity').val() + '%');
    ALPHA = $('#opacity').val() / 100;
  });

});
</script>

<div class="overlay">
	<div id="loading" class="centered">
		<p>Loading</p>
		<img src="/public/assets/ajax-loader.gif" id="loadgif" class="loadgif" alt="Loading">
	</div>
	<div id="routeChooser" class="centered">
		<p>Robot Car Parking System Simulation</p>
		<div id="selector" class="selector">
			<select id="routes"></select>
      <select id="realistic">
        <option value="1">Realistic visualization</option>
        <option value="0">Speed selection</option>
      </select>
			<button class="btn" id="selectRoute">Choose scenario</button>
		</div>
	</div>
</div>

<div id="simulation" class="simulation">
	<div id="previews" class="previews">
		<div id="startingPoint" class="verticalPreview">
			<p>Visualization start state</p>
		</div>
		<div id="endingPoint" class="verticalPreview">
			<p>Visualization end state</p>
		</div>
    <div id="speedChooser">
      <p>Please choose the speed before starting visualization!</p>
      <input type="radio" id="speed1" name="speed" value="1" checked>1x speed<br>
      <input type="radio" id="speed2" name="speed" value="2">2x speed<br>
      <input type="radio" id="speed4" name="speed" value="4">4x speed
    </div>
    <div id="carOpacity">
      <p>Opacity of machines</p>
      <input id="opacity" type="range" min="50" max="100" defaultValue="75">
      <p id="opVal">75%</p>
    </div>
		<div id="controls" class="verticalPreview,controls">
			<button class="btn" id="startSim">Start automatic visualization</button>
			<button class="btn" id="nextStep">Step-by-step visualization</button>
		</div>
		<div id="instructions" class="instructions">
			<p id="instr" class="instr"> </p>
		</div>
		<div id="FPS">
			<p id ="FPSno"> </p>
		</div>
	</div>
	<div class="verticalCanvas">
		<canvas id="simCanvas" ></canvas>
	</div>
</div>


<script type="text/javascript" src="./public/simulation.js"></script>
{% endblock %}
